.dashboardLayout{
    display: flex;
    gap: 50px;
    padding-top: 20px;
    height: 100%;

    .menu{
        flex: 1;
    }

    .content{
        flex: 8;
        background-color: #12101b;
    }
}